# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
